@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}
@mixin ellipsis {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
@mixin text-new ($color: $color-tertiary){
    color: lighten($color, 40%);
}