/* -- fire -- */

$color-purple: #571c4d;
$color-dark-red: #9e2155;
$color-red: #cc1b41;
$color-orange: #ff5e00;
$color-yellow: #ffc400;

/* -- water -- */

$color-darkest-blue: #162263;
$color-dark-blue: #122bb5;
$color-blue: #0e7ae6;
$color-light-blue: #07aef5;
$color-lightest-blue: #03f7ff;

/* -- plant -- */

$color-darkest-green: #1b4014;
$color-dark-green: #2d6e22;
$color-green: #38a125;
$color-light-green: #23ba23;
$color-lightest-green: #00ff00;
